<html>
	<head>
	</head>
	<body>
		<div class="nav_title">
			<ul class="section_titles">
				<li id="" class="title local_title">Local</li>
				<li id="" class="title youtube_title selected">Youtube</li>
				<li id="" class="title torrent_title">Torrent</li>
			</ul>
		</div>

		<hr>

		<div class="images_holder">
		</div>

		<div class="info_holder">

		</div>


	</body>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/screen_custom.css">

</html>

