<html>
	<head>
		<script >
			var remote = Object();
		</script>
	</head>
	<body>
		<div id="tablet">
			<div class ="section section_0" data-section="0">
				<h1>Youtube page</h1>
			</div>
			<div class ="section section_1" data-section="1">
				<h1>Torrent page</h1>
			</div>
			<button id="next">Next</button>
		</div>
	</body>

	<link rel="stylesheet" href="css/remote_custom.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/remote.js"></script>
	<script src="https://hammerjs.github.io/dist/hammer.js"></script>
</html>