html ,body{
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body{
	overflow:hidden;
}

.section{
	width: 850px;
	height: 450px;
	margin: 0 auto;
	position: relative;
	display: none;
}
.section h1{
	width: 700px;
	position:absolute;
}