body{
	font-family: 'Roboto', sans-serif;
}
li.selected_title{
	color:black;
	font-size: 80px;
}

li.title{
	display: inline;
	margin: 0 100 0 0;
}

ul.section_titles{
	margin: 0 auto;
	display: inline;
	color:grey;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;

}
#video_information{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.selected_title{
	border-top: solid 2px red;
}
.red{
	color:red;
}
ul.video-tile{
	white-space: nowrap;
}
li.thumbnail{
	list-style: none;
	display: inline-block;
	margin:5px;
	opacity: 0.5;
}
li.selected_video img.image_tile{
	width : 400px;
	position: relative;
	top: 20px;
}
li.selected_video{
	opacity: 1.0;
	
}

.hidden{
	display:none;
}
.right{
	float: right;
}
.nav_title{
	text-align: center;
}
.content_preview_holder{
	margin-top: 60px;
	overflow: hidden;
}


.info_holder{
	margin-top: 60px;
}
.misc_holder{
	margin-top: 60px;
}

.progress-bar{float:left;width:0;height:100%;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#428bca;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-transition:width .6s ease;transition:width .6s ease}

.progress{
	height:4px;
	margin-top:18px;
}




/* --------------------------------------------------------------------------- */ 

ul{
	list-style: none;
}

@font-face {
	font-family: "FontAwesome";
	src: url('../font/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Sosa";
	src: url('../font/sosa-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Elusive";
	src: url('../font/Elusive-Icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Weather';
	src: url('../font/weather.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Reg';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}
.weather .icon{
	font-family: "Weather";
}
.weather{
	font-family: 'Open-Light';
	color: rgba(0,0,0,0.8);
	list-style: none;
	text-align: center;
	/*position: absolute;*/
	margin:40px;
	display:block;
}
.weather li{
	display: inline-block;
	float: left;
	margin: 8px 2px;
}

.weather li .temp{
	font-size: 1em;
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
}
.weather .day{
	font-size: 1.1em;
}
.weather .icon{
	font-size: 4em;
	margin: 0 0 7px 10px;
	height: 47px;
}
.time-block{
	width: 100%;
    text-align: center;
	top: 22px;
	/*display: inline-block;*/
	
}
#time {
	font-size: 4em;
	line-height: .9;
	font-family: "Open-light";
	color: rgba(0,0,0,0.8);
	
}
.misc_holder p{
	margin: 0;
	padding: 0;
}
.info_holder h2{
	margin: 10px;
}

.info_holder p{
	text-align: justify;
	margin: 40px;
	font-size: 20px;
}